#!/bin/bash
mount -o loop=/dev/loop0 -t iso9660 /var/www/iescierva.net/CentOS/CentOS-5.4-x86_64-bin-DVD.iso /var/www/iescierva.net/CentOS/CentOS
mount -o loop=/dev/loop1 -t iso9660 /var/www/iescierva.net/CentOS/iRedOS-0.5.0-CentOS-5.3-x86_64-bin-DVD.iso /var/www/iescierva.net/CentOS/iRedOS
